<!doctype html>
<html>
<head>
<meta charset="utf-8">
 <mate name="viewport" content="width=device-width,initial-scale=1"/>
<link href="/static/css/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>


<title>Get phptp</title>
<script>
	 function UploadPic() {                 
		 // Generate the image data（将Canvas的内容保存为图片借助toDataURL来实现） 方法返回一个包含图片展示的 data URI 。                 
		  var Pic = document.getElementById("canvas").toDataURL("image/jpg");  
		 //对其进行base64编 之后的字符串                 
		 document.getElementById("pic_url").value = Pic; 
		 var form=document.getElementById("p");
		 form.submit();           
	 } 
      function getMedia() {
            let constraints = {
                video: {width: 480, height: 800},
                audio: true
            };
            //获得video摄像头区域
            let video = document.getElementById("video");
            //这里介绍新的方法，返回一个 Promise对象
            // 这个Promise对象返回成功后的回调函数带一个 MediaStream 对象作为其参数
            // then()是Promise对象里的方法
            // then()方法是异步执行，当then()前的方法执行完后再执行then()内部的程序
            // 避免数据没有获取到
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then(function (MediaStream) {
                video.srcObject = MediaStream;
                video.play();
            });
        }
      function takePhoto() {
      //获得Canvas对象
      let video = document.getElementById("video");
      let canvas = document.getElementById("canvas");
      let ctx = canvas.getContext('2d');
	  ctx.drawImage(video,0,0,video.width,video.height);
      }

	</script>
	<style>
		#control
		{
			height:5%;
		}
		input,button
		{
			width:100px;
			height:50px;
		}
	</style>
</head>

<body bgcolor="black">

<form method="POST" action="/Face/result/" id="p">
            <input type="hidden" name="pic" id="pic_url">
            {% csrf_token %}
</form>

<div data-role="content">
	<video id="video" width="100%" height="100%" autoplay></video>
	<canvas id="canvas" width="100%" height="100%"></canvas>
	</div>
<div data-role="footer">
<div id="control" data-role="controlgroup" align="center" data-type="horizontal">
	<input  type="button" title="开启摄像头" value="开始" onclick="getMedia()" />
     <button    onclick="takePhoto();UploadPic()" > 拍照 </button>
     <input id="pic" type="hidden"/>
     </div>
	</div>

</body>
</html>
