<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<mate name="viewport" content="width=device-width,initial-scale=1"/>

<title>错误</title>
<style>
	body
	{
		background: black;
		padding:none;
	}
	h3
	{
		
		font-size:3em;
		color: white;
		text-align: center;

	}
	#text
	{
		margin-top: 40%;
		align-content: center;
	}
    #button
	{
		text-align: center;
		hegit:8em;
	
	}
	input
	{
		width:100px;
		height:50px;
		border-radius:3px 3px 3px 3px;
		font-weight: bold;
		border-width:2px;
		font-size:1.5em;
	}
	</style>
</head>

<body>
<div data-role="header" >
	
</div>
<div data-role="content">
<div id="text">
	<h3>error 无法识别人脸</h3>
	</div>
	<div id="button">
	<input type="button" value="重试" onclick="javascript:history.back(-1);"/>
	</div>
</div>
</body>
</html>
