<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>历史分析</title>

<script src="js/jquery-1.8.0.min.js" ></script>
<link href="css/style1.css" type="text/css" rel="stylesheet">
<script src="js/circle.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/static/css/scan.css" />
</head>
<body>
	
<div id="result">

<p>分数变化曲线</p>
<div id="line1" style="width:822px;height:492px;"></div>

<p></p>
<p>柱状统计图1</p>
<div id="pillar1" style="width:838px;height:305px;"></div>

<p>柱状统计图2</p>
<div id="pillar2" style="width:838px;height:305px;"></div>


<div class="null"></div>

</div>
       <div id="out">
	    <div id="first"><a href="history.html"><img src="img/history.png"></a></div>
	    <div id="second"><a href="takephoto.html"><img src="img/scan.png"></a></div>
	    <div id="third"><a href="takephoto.html"><img src="img/set.png"></a></div>
	</div>
	<div id="nav">
	   <a href="home.html"> <img src="img/home.png"></a>
	</div>
<script type="text/javascript" src="/static/js/jquery-1.7.2-min.js"></script>
<script type="text/javascript" src="/static/js/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/history.js"></script>
</body>
</html>
