<!DOCTYPE html>
<html >

<head>
<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=0.5 ,maximum-scale=0.5 ,user-scalable=no">
<title>scan-result</title>
<link href="/static/css/style1.css" type="text/css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/static/css/scan.css" />
<script src="/static/js/jquery-1.8.0.min.js" ></script>
<script src="/static/js/circle.js" type="text/javascript"></script>
</head>

<body>
<div id="result">

<p>分数</p>
<div class="block1">
<div id="ring" style="width:700px;height:164px; font-size: 20px;"></div>
</div>
<div class="block1">
<div id="ring1" style="width:700px;height:164px; font-size: 20px;"></div>
<div id="advice">
	<h2 align="left" >
	
	</h2>
</div>
</div>

<p>指标</p>
<div id="index">
  <div class="block2">
	<h1>皱纹</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{wrinkle.filename}} ></div>
	<h1>{{wrinkle.score}}</h1>
	</div>
	<div class="block2">
	<h1>肤色</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{skin_type.filename}} ></div>
	<h1>{{color.result}}</h1>
	</div>
		<div class="block2">
	<h1>肤质</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{skin_type.filename}} ></div>
	<h1>{{skin_type.class}}</h1>
	</div>
		<div class="block2">
	<h1>水分</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{moisture.filename}} ></div>
	<h1>{{moisture.score}}</h1>
	</div>
		<div class="block2">
	<h1>粗糙度</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{roughness.filename}} ></div>
	<h1>{{roughness.score}}</h1>
	</div>
		<div class="block2">
</div>

<p>皮肤问题</p>
<div id="problems">
	<div class="block2">
	<h1>出油情况</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{skin_type.filename}} ></div>
	<h1>{{skin_type.oily}}</h1>
	</div>
    <div class="block2">
	<h1>黑眼圈</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{dark_circle.filename}} ></div>
	<h1>{{dark_circle.result}}</h1>
	</div>
    <div class="block2">
	<h1>黑头</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{blackhead.filename}} ></div>
	<h1>{{blackhead.score}}</h1>
	</div>
	<div class="block2">
	<h1>毛孔</h1>
	<div class="img"><img src=https://api.yimei.ai/fileSvr/get/${{pore.filename}} ></div>
	<h1>{{pore.score}}</h1>
	</div>
</div>


	<div id="nav">
		<a href="home.html"><img src="/static/img/home.png"></a>
	</div>
	
<script type="text/javascript" src="/static/js/jquery-1.7.2-min.js"></script>
<script type="text/javascript" src="/static/js/echarts.min.js"></script>
<script>
	var ring = echarts.init(document.getElementById('ring'));
var data1={{age.result|safe}};  //年龄
var data2={{UserSkin.totalscore|safe}};                  //总分
var data3={{UserSkin.softscore|safe}};                   //细腻度分数
var value=[];
value.push(data1);
value.push(data2);
value.push(data3);
var labelTop = {
    normal : {
        label : {
            show : true,
            position : 'center',
            formatter : '{b}',
            textStyle: {
                baseline : 'bottom',
			    fontsize: '20'
            }
        },
        labelLine : {
            show : false
        }
    }
};

var labelFromatter = {
    normal : {
        label : {
            formatter : function (params){
                return 100 - params.value
            },
            textStyle: {
                baseline : 'top',
				fontSize:'20'
				
            }
        }
    },
}
var labelBottom = {
    normal : {
        color: '#ccc',
        label : {
            show : true,
            position : 'center'
        },
        labelLine : {
            show : false
        }
    },
    emphasis: {
        color: 'rgba(0,0,0,0)'
    }
};
var radius = [50, 65];
ring.setOption({
    color:["#33bb9f","#ffa259","#4cbbe6"],
    series : [
        {
            type : 'pie',
            center : ['15%', '58%'],
            radius : radius,
            x: '0%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:100-data1, itemStyle : labelBottom},
                {name:'年龄', value:data1,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['45%', '58%'],
            radius : radius,
            x:'20%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:100-data2, itemStyle : labelBottom},
                {name:'总分', value:data2,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['75%', '58%'],
            radius : radius,
            x:'40%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:100-data3, itemStyle : labelBottom},
                {name:'细腻度', value:data3,itemStyle : labelTop}
            ]
        }
    ]
}) ;

var ring = echarts.init(document.getElementById('ring1'));
var data4={{userskin.youngscore|safe}};    //年轻度分数
var data5={{UserSkin.healthscore|safe}};    // 健康度分数
var data6={{UserSkin.oilscore|safe}};    //油干性分数
var value=[];
value.push(data4);
value.push(data5);
value.push(data6);
var labelTop = {
    normal : {
        label : {
            show : true,
            position : 'center',
            formatter : '{b}',
            textStyle: {
                baseline : 'bottom',
			    fontsize: '20'
            }
        },
        labelLine : {
            show : false
        }
    }
};

var labelFromatter = {
    normal : {
        label : {
            formatter : function (params){
                return 100 - params.value
            },
            textStyle: {
                baseline : 'top',
				fontSize:'20'
				
            }
        }
    },
}
var labelBottom = {
    normal : {
        color: '#ccc',
        label : {
            show : true,
            position : 'center'
        },
        labelLine : {
            show : false
        }
    },
    emphasis: {
        color: 'rgba(0,0,0,0)'
    }
};
var radius = [50, 65];
ring.setOption({
    color:["#ffb1bf","#a0abff","#00b384"],
    series : [
        {
            type : 'pie',
            center : ['15%', '58%'],
            radius : radius,
            x: '0%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:100-data4, itemStyle : labelBottom},
                {name:'年轻度', value:data1,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['45%', '58%'],
            radius : radius,
            x:'20%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:100-data5, itemStyle : labelBottom},
                {name:'健康度', value:data2,itemStyle : labelTop}
            ]
        },
        {
            type : 'pie',
            center : ['75%', '58%'],
            radius : radius,
            x:'40%', // for funnel
            itemStyle : labelFromatter,
            data : [
                {name:'other', value:100-data6, itemStyle : labelBottom},
                {name:'油干性', value:data3,itemStyle : labelTop}
            ]
        }
    ]
}) ;
	</script>
</body>
</html>
