{% extends "Face/base.html" %}

{% block head %}
        {# 网页头文件 #}

    <style>
		#takephoto{
			margin-left: 300px;		
			data-type:horizontal; 
			margin-top:0;
		}
	</style>
{% endblock %}
	
{% block body %}
    <div id="my_camera" style="width:640px; height:480px;"></div>
    {# 实时视频 #}
    
     <div id="my_result"></div>
    {# 显示结果图片 #}

    <form id="myform" method="post"  type="hidden" action="/result/">
        {% csrf_token %}
        <input id="mydata" type="hidden" name="mydata" value=""/>
    </form> {# 表单用于提交照片 #}

    <a href="javascript:void(take_snapshot())" id="takephoto">  <img src="/static/img/before.png" width="80px" height="80px" id="anniu"  ></a>
    {# 提交照片的按钮 #} 
    {#ZHANG CHEN todo 拍照按钮样式完善 #}
{% endblock %}

{% block script %}
        <script>
        Webcam.set({
            image_format: 'jpeg',
            jpeg_quality: 90,
            force_flash: false,
            flip_horiz: true, //#todo 镜面模式，摄像头倒置时勿启用，否则会出错
            flip_vert: false, //#todo 摄像头倒置是启用
        });//摄像头调用设置

        Webcam.attach('#my_camera');
        //调用实时视频
		
        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                Webcam.freeze()
                // document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
                // 显示结果图片
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
				let video = document.getElementById("my_camera");
     			let canvas = document.getElementById("my_result");
				let ctx = canvas.getContext('2d');
				ctx.drawImage(canvas,0,0, ctx.width, ctx.height);
                document.getElementById('mydata').value = data_uri;
                document.getElementById('myform').submit();
            });

        }//拍照并上传
    </script>

    ////////////////////////////////
    <script>
    //声控
    if (annyang) {
        // Let's define a command.
        var commands = {
            '你好': function() { alert('请尝试说“拍照”、“返回”来进行语音操控'); },
            '拍照': function() {
                Webcam.snap(function (data_uri) {
                Webcam.freeze()
                // document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
                // 显示结果图片
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                document.getElementById('mydata').value = data_uri;
                document.getElementById('myform').submit();
            });},
            '返回': function() {window.location.href="../"},
        };

        // Add our commands to annyang
        annyang.addCommands(commands);

        //Set the language to Mandarin Chinese
        annyang.setLanguage('zh-CN');

        // Start listening.
        annyang.start();
        }       
    </script>
{% endblock %}